<h1>Order Confirmation</h1>
{{#if shirtOrder}}
<div class="col-md-6 project-list">
  <h2></h2>
  <div class="col-mb-4 home">
    {{!-- {{#each shirtOrder as |Order| }} --}}
    <div class="cohort-shirt col-md-5">
      <h2 class="shirt-title">{{cohort_name}}</h2>
      <a href="{{shirt.handlebars}}" img="{{cohort_shirt}}" alt="Graphic of {{cohort_name}}"></a>
      <p class="shirt-size">Shirt Size: {{shirtOrder.size}}</p>
      <p class="shirt-color">Shirt Color: {{shirtOrder.color}}</p>
      {{#if shirtOrder.apt}}
      <p class="address-input">Address: {{concat shirtOrder.address ", " shirtOrder.apt ", " shirtOrder.city ", "
        shirtOrder.state ", " shirtOrder.zip }}</p>
      {{else}}
      <p class="address-input">Address: {{concat shirtOrder.address ", " shirtOrder.city ", " shirtOrder.state ", "
        shirtOrder.zip }}</p>
      {{/if}}
      <p class="payment-selection">Payment Method: {{shirtOrder.payment}}</p>
      <div class="col-md-4">
        <button href="/profile" id="viewprofile" class="btn btn-primary" type="submit">View in Profile</button>
      </div>
    </div>
    {{!-- {{/each}} --}}
  </div>
</div>
{{/if}}
</div>

<script src="/js/confirmation.js"></script>