<h1>My Cart</h1>

  {{#if shirtOrder}}
  <div class="col-md-6 project-list">
    <h2>Items in your cart:</h2>
    <div class="col-mb-4 home">
    {{!-- {{#each shirtOrder as |Order| }} --}}
    <div class="cohort-shirt col-md-5">
        <h2 class="shirt-title">{{cohort_name}}</h2>
        <a href="{{shirt.handlebars}}" img="{{cohort_shirt}}" alt="Graphic of {{cohort_name}}"></a>
        <p class="shirt-size">Shirt Size: {{shirtOrder.size}}</p>
        <p class="shirt-color">Shirt Color: {{shirtOrder.color}}</p>
        {{#if shirtOrder.apt}}
        <p class="shirt-color">Address: {{concat shirtOrder.address ", " shirtOrder.apt ", " shirtOrder.city ", " shirtOrder.state  ", " shirtOrder.zip }}</p>
        {{else}}
        <p class="shirt-color">Address: {{concat shirtOrder.address ", " shirtOrder.city ", " shirtOrder.state ", " shirtOrder.zip }}</p>
        {{/if}}
        <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{shirt_order}}">Confirm Order</button>
      </div>
    </div>
    {{!-- {{/each}} --}}
</div>
  </div>
  {{/if}}
</div>
{{!-- 
<script src="../public/js/cart.js"></script> --}}