<div class="col-mb-4 home">

    {{#each shirts as |shirt| }}
    <div class="cohort-shirt col-md-5">
        <h2 class="shirt-title">{{shirt.cohort_name}}</h2>
        <h4 class="shirt-price">${{shirt.price}}</h4>
        <a href="/shirt/{{id}}">
            <img src="https://dailymockup.com/wp-content/uploads/edd/2019/03/free-t-shirt-mockup-psd-template.jpg"
                alt="Graphic of {{shirt.cohort_name}}">
        </a>
    </div>
    <div class="form-group">
        <a href="/shirt/{{id}}" class="btn btn-primary" type="submit">View Shirt</a>
    </div>
    {{/each}}
</div>