<div class="col-mb-4 home">
    <div class="col-md-5 header">
        <h1>Shop</h1>
    </div>
    {{#each shirts as |shirt| }}
    <div class="cohort-shirt col-md-5">
        <h2 class="shirt-title">{{shirt.cohort_name}}</h2>
    
        <h2 class="shirt-price">{{shirt.price}}</h2>
        <a href="/shirt/{{shirt.id}}"> 
            <img={{shirt.img}} alt="Graphic of "{{shirt.cohort.name}}></a>
    </div>
    {{/each}}
</div>