<div>
  <div class="cohort-shirt col-md-5">
    <h2 class="shirt-title">Create Your Cohort Shirt {{shirt.cohort_name}}</h2>
    <a href="{{shirt.handlebars}}" img="{{shirt.cohort_shirt}}" alt="Graphic of {{shirt.cohort_name}}"></a>
    <br>
    <h3>Image of Cohort Shirt</h3>
    <h3>Choose Your Size</h3>
    <br>
    <form class="form new-shirt-form">
      <p class="shirt-size"><label><input type="radio" name="mode" value="X-Small"> X-Small</p></label>
      <p class="shirt-size"><label><input type="radio" name="mode" value="Small"> Small</p></label>
      <p class="shirt-size"><label><input type="radio" name="mode" value="Medium"> Medium</p></label>
      <p class="shirt-size"><label><input type="radio" name="mode" value="Large"> Large</p></label>
      <p class="shirt-size"><label><input type="radio" name="mode" value="X-Large"> X-Large</p></label>
      <p class="shirt-size"><label><input type="radio" name="mode" value="XX-Large"> XX-Large</p></label>
      <br>
      <h3>Choose Your Color</h3>
      <br>
      <p class="color" style="color: cornflowerblue;"><label><input type="radio" name="color-selection" value="Blue">
          Blue</p>
      </label>
  </div>
  <div>
    <h3>Delivery Address</h3>
    <div class="form-group">
      <label for="address">Address</label>
      <input class="form-input" type="text" id="address" />
    </div>
    <div class="form-group">
      <label for="address">Apt:</label>
      <input class="form-input" type="text" id="apt" />
    </div>
    <div class="form-group">
      <label for="address">City:</label>
      <input class="form-input" type="text" id="city" />
    </div>
    <div class="form-group">
      <label for="address">State:</label>
      <input class="form-input" type="text" id="state" />
    </div>

    <div class="form-group">
      <label for="address">Zip Code:</label>
      <input class="form-input" type="text" id="zip" />
    </div>
    <div class="form-group">
      <button href="/shirtorder{{shirtorder.id}}" class="btn btn-primary" type="submit">Add to Cart</button>
    </div>
    </form>
  </div>

  <script src="/js/shirtform.js"></script>